@import "tailwindcss";
/* *{
    margin: 0px;
    padding: 0px;
} */
nav{

    
}

.authbuttons{
    /* border: 3px solid red; */
   

}

.form_tabs{
    border: 2px solid #386BAC;
}


.auth_page{
   
}

.signupinputs{

}

.signupform{
  
} 

.colored_box_input{
   
    
}

.inputholder_div{
   
}
.input_image_div>img{
   width: 33px;
}

.signupinputs_submit{
    
}
.loginform{
  
}


@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }

  .no-spinner {
    -moz-appearance: textfield !important;
  }
}